@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", "Arial";
}

.body{
    width: 100%;
    background-color: #1c1c1f;
    height: 100%;
}

.body-container {
    margin: 0 20% 0 20%;
}

.body-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.body-image-container img {
    height: 40vh;
    margin-top: 20px;
}

.body-search-bar {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.body-search-container {
    width: 80%;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 50px;
    background-color: #31313c;
    height: 6vh;
    justify-content: space-between;
}

.body-search-bar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.body-search-items h1{
    font-size: 13px;
    color: white;
    width: 100%;
    margin: 5px 0;
}

.select-region {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: 0px;
    width: 8rem;
}

.body-search-items {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.body-search-items input {
    background-color: transparent;
    border: 0px;
}

.body-search-bar-right {
    padding-right: 25px;
    height: 100%;
    
}

#search-button {
    height: 100%;
    width: 3rem;
    background-color: transparent;
    border: 0;
}

#search-button  span {
    font-size: 20px;
    color: #5180e2;
    font-weight: 700;
}